.category {
  width: 400px;
  @apply flex flex-col bg-gray-50 p-8 place-self-center items-center justify-center rounded hover:shadow-xl transition-all duration-200;
}

.category__image {
  width: 300px;
  height: 300px;
  @apply object-contain;
}

.category__title {
  @apply text-xl text-gray-700 pt-4 font-bold;
}
